#welcome-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0px 450px;
    text-align: center;

  }
  #welcome{
    font-family: sans-serif, Arial;

  }
  

  
  /* Consulta de mídia para telas menores, como smartphones */
  @media screen and (max-width: 600px) {
    #navbar {
      
      padding: 5px; /* Reduz o espaço interno para o conteúdo dentro do navbar em telas menores */
    }
    
  }
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(72deg, #3DEBB0 1%, #8956F3 99%);
  }
   #navbar {

        top: 0;
        height: 5px;
        width: 100%; /* Define a largura para ocupar toda a largura da tela */
        background-color: black; /* Cor de fundo do navbar */
        color: #fff; /* Cor do texto do navbar */
        padding: 10px; /* Adiciona algum espaço interno para o conteúdo dentro do navbar */
        z-index: 9999; /* Garante que o navbar esteja acima de outros elementos */
      }
  .content{
    
    justify-content: center;
    align-items: center;
    height: 620px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }.project-tile{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 20px auto auto 90px;
    padding: 20px 10px;
  }
  .foto-container{
    display: flex;
    justify-content: center;
  }
  .foto-container img{
    justify-content: center;
    max-width: 80%;
    max-height: 80%;
  }
  h1{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
  }